@import 'common.css';

.listing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 1000px) {
    .listing {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    
    .listing > header {
        font-size: 2em;
    }

    .listing-photo {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: end;
        gap: 5px;
    }
}

.listing-info {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.listing-photo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
        "pic pic pic pic"
        "pic pic pic pic"
        "pic pic pic pic"
        "pic pic pic pic"
        "... bck fwd ..."
    ;
    gap: 5px;
}

.back-btn {
    grid-area: bck;
}

.forward-btn {
    grid-area: fwd;
}

.listing-photo > img {
    grid-area: pic;
}

@media screen and (min-width: 650px) { 
    .listing-photo {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: end;
        gap: 5px;
    }
}

.listing-info > p {
    font-size: 1.5em;
}

.listing-info > header {
    font-size: 1.5em;
}

.listing-nav-btn {
    border: 1px solid var(--secondary-color);
    border-radius: 1em;
    padding: 0.2em 0.4em;
    font-size: 2em;
    cursor: pointer;
    transform: border-color 0.25s;
}

.listing-nav-btn:hover {
    border-color: var(--outline-color);
}
